# Abhängigkeiten (falls später npm kommt)
node_modules/

# Umgebungsvariablen — NIEMALS pushen
.env
.env.local
.env.production

# Betriebssystem
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/

# Python (für späteren Crawler)
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Temporäre Dateien
*.log
migrate_data.py

# Wichtige Datei
crawler/crawl_db.json
data.json
vision/corrections.json
workers/index.js

#Meine Dateien
Architektur.txt
Ablauf.txt